

    <div class="container mt-9">
        <h2 class="title">Mapa de Transparencia</h2>

                <img src="../../../assets/img/mapaCalor.png" style="width: 100%; height:86%"> 

    </div>




<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/peru.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>#NoBajemosLaGuardia</h1>
            <h3>Registro de personas vulnerables</h3>
            <br />
            <a routerLink="['/register']" class="btn btn-outline-neutral btn-round" ><i class="fa fa-play" ></i>Registrarme</a>
      
            
            <a class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Saber más</a>

        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">¿No sabes si eres una persona vulnerable?</h2>
                <h3>Con tus datos puedes conocer en que fase te toca vacunarte, además de ayudar al gobierno a mejorar el proceso de vacunación del Perú</h3>
                <h5 class="description"></h5>
                <br>
                <a href="https://covid19.minsa.gob.pe/sala_situacional.asp" class="btn btn-danger btn-round">Conocer más</a>
            </div>
        </div>
        <br/><br/>


    </div>
</div>


  
</div>
