
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/peru.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>#PongoElHombro</h1>
            <h3>Registro de personas vulnerables</h3>
            <br />
            <a routerLink="['/register']" class="btn btn-outline-neutral btn-round" ><i class="fa fa-play" ></i>Registrarme</a>
            
            <a class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Saber más</a>

        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Titulo 1</h2>
                <h3>Breve descripcion</h3>
                <h5>{{datos}}</h5>
                <h5 class="description"></h5>
                <br>
                <a href="https://www.minsa.gob.pe/vacuna-covid-19/?op=3" class="btn btn-danger btn-round">Conocer más</a>
            </div>
        </div>
        <br/><br/>
        <!-- <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Mapa de Transparencia</h2>
        <div class="row">
            
        </div>
    </div>
</div>

  
</div>
